<h3>What is Space?</h3>
<p>We often refer to our expanding universe with one simple word: space. But where does space begin and, more importantly, what is it?</p>
<p>Space is an almost perfect vacuum, nearly void of matter and with extremely low pressure. In space, sound doesn't carry because there aren't molecules close enough together to transmit sound between them. Not quite empty, bits of gas, dust and other matter floats around "emptier" areas of the universe, while more crowded regions can host planets, stars and galaxies.</p>
<p>From our Earth-bound perspective, outer space is most often thought to begin about 62 miles (100 kilometers) above sea level at what is known as the Kármán line. This is an imaginary boundary at an altitude where there is no appreciable air to breathe or scatter light. Passing this altitude, blue starts to give way to black because oxygen molecules are not in enough abundance to make the sky blue.</p>
<p>No one knows exactly how big space is. It's difficult to determine because of what we can see in our detectors. We measure long distances in space in "light-years," representing the distance it takes for light to travel in a year (roughly 5.8 trillion miles (9.3 trillion kilometers)). </p>
<p>From the light that is visible in our telescopes, we have charted galaxies reaching almost as far back as the Big Bang, which is thought to have started our universe about 13.8 billion years ago. This means we can "see" into space at a distance of almost 13.8 billion light-years. But the universe continues to expand, making "measuring space," even more challenging. </p>
<br>
<div class="card-img-wrapper">
  <img class="card-img-top" src="assets/images/image_1.jpg" alt="Space">
</div>
<br>
